.ControlBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #585cc6;
    height: 52px;
    width: 227px;
    border-radius: 2px;
    padding: 17px 28px;
    border: none;
    @media (max-width: 576px) {
        height: 36px;
        width: 36px;
    }
    a {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        font-family: 'Gilroy';
        cursor: pointer;
        @media (max-width: 576px) {
            display: none;
        }
    }
    img {
        display: none;
        @media (max-width: 576px) {
            display: inline-block;
        }
    }
    &:hover {
        background: #696dc8;
        transition: 0.3s;
    }
    &:active {
        background: #797ddf;
        transition: 0.04s;
    }
}
