.reviews {
   background-color: #fff;
   max-width: 1198px;
   height: 525px;
   
   @media(max-width: 576px){
      height: 479px;
      width: 304px;
   }
   &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
   
      h2 {
         color: #333;
         font-size: 68px;
         font-weight: 500;
         font-style: normal;
         line-height: 88px;
         letter-spacing: -0.0124em;
         margin-top: 56px;
         margin-left: 80px;
         @media(max-width: 576px){
            font-size: 32px;
            line-height: 42px;
            margin-top: 20px;
            margin-left: 16px;
         }
      } 
      &__button2 {
            display: flex;
            grid-column-gap: 12px;
            justify-content: center;
            align-items: center;
            background: #585CC6;
            height: 52px;
            width: 220px;
            border-radius: 2px;
            margin-top: 74px;
            margin-right: 56px;
            color: #fff;
           
            
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.01em;
            cursor: pointer;
            
            @media(max-width: 576px){
               height: 42px;
               width: 42px;
               margin-top: 20px;
               margin-right: 15px;
            }
            img{
               display: none;
                @media(max-width: 576px){
                   display: block;
                }
            }
         }
   }
  
}


