.header {
    position: fixed;
    background-color: #fff;
    height: 116px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    z-index: 50;

    @media (max-width: 576px) {
        height: 77px;
        padding: 0 16px;
    }

    &__left {
        display: flex;
        align-items: center;

        a {
            color: #333333;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            font-family: 'Gilroy';

            @media (max-width: 576px) {
                font-size: 12px;
                line-height: 14px;
                span {
                    display: none;
                }
            }
        }

        &__photo {
            height: 52px;
            width: 52px;
            margin: 32px 20px 32px 0px;
            @media (max-width: 576px) {
                height: 36px;
                width: 36px;
                margin-right: 20px;
            }
        }
    }

    &__center {
        height: 52px;
        width: 85.43px;
        @media (max-width: 765px) {
            height: 45px;
            width: 72px;
        }
        @media (max-width: 576px) {
            height: 36px;
            width: 59px;
        }
    }
}
