.Modal {
   position: absolute;
    background-color: #FFF;
    width: 100%;
    max-width: 676px;
    min-height: 443px;
 }

.OverlayModal {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba ( 0, 0, 0, 0.4);
   transition: 0.5s;
   backdrop-filter: blur(6px);
   z-index: 100;
 }